*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
}

/* particlesJS */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #6819b652; */
    background-image: url("../img/slider-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
} 